@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;400;500;700&display=swap');

:root {
  --font-base: 'DM Sans', sans-serif;

  --primary-color: #c6c6c6;
  --secondary-color: #df6420;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #8a8a8a;
  --grayDark-color: #2e2e2e;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-base);
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
